<div fxLayout="row" fxLayoutAlign="center center">
    <h1 fxFlex="50">
        Is Chris drunk?
    </h1>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <h2 fxFlex="50">
        {{status}}
    </h2>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
        <div class="chris-status"><img src="../assets/img/chris_drunk.png"></div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <button (click)="onClickYes()" mat-button color="accent">👍</button>
    <button (click)="onClickNo()" mat-button>👎</button>
</div>

<router-outlet></router-outlet>
