/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html, body {
  height: 100%;
  background: pink;
  font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

body {
  margin: 0;
}
